<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="8.0.0" targetFramework="net481" />
  <package id="AutoMapper.EF6" version="2.1.1" targetFramework="net481" />
  <package id="AutoMapper.EF6.Extended" version="0.0.2" targetFramework="net481" />
  <package id="CommonServiceLocator.NetCore" version="1.3.1" targetFramework="net481" />
  <package id="DelegateDecompiler" version="0.28.0" targetFramework="net481" />
  <package id="DelegateDecompiler.EntityFramework" version="0.28.0" targetFramework="net481" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net481" />
  <package id="Hyak.Common" version="1.2.2" targetFramework="net481" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.9" targetFramework="net481" />
  <package id="Microsoft.AspNet.Razor" version="3.2.9" targetFramework="net481" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.7" targetFramework="net481" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.7" targetFramework="net481" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.9" targetFramework="net481" />
  <package id="Microsoft.Azure.Common" version="2.2.1" targetFramework="net481" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="7.0.0" targetFramework="net481" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="2.0.1" targetFramework="net481" />
  <package id="Microsoft.Extensions.Configuration" version="7.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="7.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="7.0.2" targetFramework="net481" />
  <package id="Microsoft.Extensions.DependencyInjection" version="7.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="7.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.Primitives" version="7.0.0" targetFramework="net481" />
  <package id="Microsoft.Web.Infrastructure" version="2.0.1" targetFramework="net481" />
  <package id="Mono.Reflection" version="1.0.0.0" targetFramework="net481" />
  <package id="Mono.Reflection.Core" version="1.1.1" targetFramework="net481" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net481" />
  <package id="Ninject" version="3.3.4" targetFramework="net481" />
  <package id="Ninject.MVC5" version="3.3.0" targetFramework="net481" />
  <package id="Ninject.Web.Common" version="3.3.2" targetFramework="net481" />
  <package id="Ninject.Web.Common.SelfHost" version="3.3.2" targetFramework="net481" />
  <package id="Ninject.Web.Common.WebHost" version="3.3.2" targetFramework="net481" />
  <package id="Ninject.Web.WebApi" version="3.3.1" targetFramework="net481" />
  <package id="Sharpbrake.Client" version="5.1.0" targetFramework="net481" />
  <package id="Sharpbrake.Http.Module" version="3.1.0" targetFramework="net481" />
  <package id="Sharpbrake.Web" version="2.1.0" targetFramework="net481" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net481" />
  <package id="System.Memory" version="4.5.5" targetFramework="net481" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net481" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net481" />
  <package id="System.Text.Encodings.Web" version="7.0.0" targetFramework="net481" />
  <package id="System.Text.Json" version="7.0.1" targetFramework="net481" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net481" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net481" />
  <package id="Unity.NetCore" version="4.0.3" targetFramework="net481" />
  <package id="WebActivatorEx" version="2.2.0" targetFramework="net481" />
</packages>