@using GrupoBoticario.Models;

<table id="languages" class="display" style="width:100%">
    <thead>
        <tr>
            <th>Linguagem</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var language in ViewBag.Data)
        {
        <tr>
            <td>
                <a href="@Url.Action("Edit","Repository", new { id = @language.Language, page = 1 })">@language.Language
                </a>
            </td>
        </tr>
        }
    </tbody>
</table>
<script type="text/javascript">
    $(document).ready(function () {
        $('#languages').DataTable({
            "searching": true,
            "paging": false,
            "language": {
                "emptyTable": "Nenhum registro encontrado",
                "info": "Mostrando _START_ de _END_ de total de _TOTAL_ registros",
                "infoEmpty": "Mostrando 0 de 0 de total de 0 registros",
                "infoFiltered": "(filtrados de _MAX_)",
                "infoPostFix": "",
                "thousands": ",",
                "lengthMenu": "Mostra _MENU_ entradas",
                "loadingRecords": "Carregando...",
                "processing": "Processando",
                "search": "Busca:",
                "zeroRecords": "Nenhum registro encontrado",
                "paginate": {
                    "first": "Primeiro",
                    "last": "Último",
                    "next": "Próximo",
                    "previous": "Anterior"
                },
            }
        });
    });
</script>